<nav>
  <div class="logo">MyWebsite</div>

  <!-- Search Bar -->
  <input type="text" class="search-bar" placeholder="Search..." (input)="logSearch($event)">

  <!-- Navigation Links -->
  <ul [class.active]="menuOpen">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Contact</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a href="#" (click)="confirmLogout()">Logout</a></li>
  </ul>

  <!-- Hamburger Menu -->
  <div class="hamburger" (click)="toggleMenu()">
    &#9776;
  </div>
</nav>
<router-outlet></router-outlet>