<section class="services-intro">
    <h1>Our Services</h1>
    <p>Explore the wide range of services we offer to cater to your unique needs.</p>
  </section>
  <section class="service-list">
    <div class="service-item">
      <h2>Service 1</h2>
      <p>Description of Service 1. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="service-item">
      <h2>Service 2</h2>
      <p>Description of Service 2. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="service-item">
      <h2>Service 3</h2>
      <p>Description of Service 3. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </section>