body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #3498db, #8e44ad);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.forgot-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    /* width: 350px; */
}

h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}

p {
    color: #7f8c8d;
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: 500;
    text-align: left;
    display: block;
    color: #2c3e50;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #8e44ad;
    box-shadow: 0 0 5px rgba(142, 68, 173, 0.5);
}

button {
    background: #3498db;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    font-size: 15px;
}

button:hover {
    background: #732d91;
}

.back-to-login {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.back-to-login:hover {
    text-decoration: underline;
    color: #732d91;
}
