<div class="login-container">
    <div class="image-container">
      <img src="https://plus.unsplash.com/premium_photo-1687203673190-d39c3719123a?q=80&w=2128&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Login Image">
    </div>
    <div class="form-container">
      <h2>Login</h2>
      <form action="#">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Login</button>
      </form>
    </div>
  </div>